# Local environment variables
.env

# Virtual Environment
venv/
.venv/

# Pycache
__pycache__/
*.pyc

# OS Files
.DS_Store
Thumbs.db

# Build artifacts
dist/
dist-ssr/
*.local

# Dependencies
node_modules/
package-lock.json (if not needed)
